<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NexChat - Real-time Chat</title>
  <link rel="stylesheet" href="/CSS/chat.css">
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="/JS/chat.js"></script>
</head>
<body>
  <a href="/" class="back">← Back</a>
  <nav>
    <img src="/chatLOGO.png" class="logo" alt="chatapp Logo">
  </nav>
  <div class="container"></div>
  <div class="send">
    <form id="send-container">
      <input type="text" id="messageInp" placeholder="Enter your message here">
      <button class="btn" type="submit">Send</button>
    </form>
  </div>
</body>
</html>
