body, html {
  height: 100%;
  margin: 0;
}

#map {
  height: 100%;
  width: 100%;
}

.back {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  color: black;
  padding: 6px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  z-index: 9999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
